@CHARSET "ISO-8859-1";

#corpo
{
	background-image: url(../imagens/Background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}



#fonte
{
	color : black;
}

#h1
{
	color : white;
	font-size: 50px;
}

#borda1
{	
	margin-right: auto;
	margin-left: auto;
    background-color: rgba( 0, 0, 0, 0.39 );
    margin-top: 80px;
    border-radius: 10px;	
    width: auto;
    height: auto;
}

#borda
{	
	margin-right: auto;
	margin-left: auto;
    background-color: rgba( 0, 0, 0, 0.39 );
    margin-top: 150px;
    border-radius: 10px;	
    width: auto;
    height: auto;
}
